defaults:
  count: 3
  benchtime: 1x

runs:
  BenchmarkBuild:
    BenchmarkBuildSimple:
      description: Simple build
      count: 4
      metrics:
        duration:
          description: Time (s)
          chart: boxplot
        alloc:
          description: Allocated memory (bytes)
          chart: boxplot
    BenchmarkBuildMultistage:
      description: Multistage build
      count: 4
      metrics:
        duration:
          description: Time (s)
          chart: boxplot
        alloc:
          description: Allocated memory (bytes)
          chart: boxplot
    BenchmarkBuildSecret:
      description: Build with secret
      count: 4
      metrics:
        duration:
          description: Time (s)
          chart: boxplot
        alloc:
          description: Allocated memory (bytes)
          chart: boxplot
    BenchmarkBuildRemote:
      description: Build from git context
      count: 4
      metrics:
        duration:
          description: Time (s)
          chart: boxplot
        alloc:
          description: Allocated memory (bytes)
          chart: boxplot
    BenchmarkBuildHighParallelization16x:
      description: Build high parallelization (16x)
      count: 3
      metrics:
        duration:
          description: Time (s)
          chart: boxplot
        alloc:
          description: Allocated memory (bytes)
          chart: boxplot
    BenchmarkBuildHighParallelization32x:
      description: Build high parallelization (32x)
      count: 4
      metrics:
        duration:
          description: Time (s)
          chart: boxplot
        alloc:
          description: Allocated memory (bytes)
          chart: boxplot
    BenchmarkBuildHighParallelization64x:
      description: Build high parallelization (64x)
      count: 4
      metrics:
        duration:
          description: Time (s)
          chart: boxplot
        alloc:
          description: Allocated memory (bytes)
          chart: boxplot
    BenchmarkBuildHighParallelization128x:
      description: Build high parallelization (128x)
      count: 4
      metrics:
        duration:
          description: Time (s)
          chart: boxplot
        alloc:
          description: Allocated memory (bytes)
          chart: boxplot
    BenchmarkBuildFileTransfer:
      description: Build with file transfer
      count: 4
      metrics:
        duration:
          description: Time (s)
          chart: boxplot
        alloc:
          description: Allocated memory (bytes)
          chart: boxplot
    BenchmarkBuildFileTransferCachedWithIteration:
      description: Build with file transfer (cached)
      count: 4
      metrics:
        duration:
          description: Time (s)
          chart: boxplot
        alloc:
          description: Allocated memory (bytes)
          chart: boxplot
    BenchmarkBuildEmulator:
      description: Build with emulator
      count: 10
      metrics:
        duration:
          description: Time (s)
          chart: boxplot
        alloc:
          description: Allocated memory (bytes)
          chart: boxplot
    BenchmarkBuildExportUncompressed:
      description: Build export uncompressed
      count: 4
      metrics:
        duration:
          description: Time (s)
          chart: boxplot
        alloc:
          description: Allocated memory (bytes)
          chart: boxplot
    BenchmarkBuildExportGzip:
      description: Build export gzip
      count: 4
      metrics:
        duration:
          description: Time (s)
          chart: boxplot
        alloc:
          description: Allocated memory (bytes)
          chart: boxplot
    BenchmarkBuildExportEstargz:
      description: Build export estargz
      count: 4
      metrics:
        duration:
          description: Time (s)
          chart: boxplot
        alloc:
          description: Allocated memory (bytes)
          chart: boxplot

  BenchmarkDaemon:
    BenchmarkDaemonVersion:
      description: Run "buildkitd --version"
      count: 8
      metrics:
        duration:
          description: Time (s)
          chart: boxplot
    BenchmarkDaemonSize:
      description: Daemon binary size
      count: 1
      metrics:
        bytes:
          description: Size (bytes)
          chart: bar
          average: true

  BenchmarkPackage:
    BenchmarkPackageSize:
      description: Package size
      count: 1
      metrics:
        bytes:
          description: Size (bytes)
          chart: bar
          average: true

  BenchmarkBuildx:
    BenchmarkBuildxVersion:
      description: Run "buildx version"
      count: 8
      metrics:
        duration:
          description: Time (s)
          chart: boxplot
    BenchmarkBuildxSize:
      description: Buildx binary size
      count: 1
      metrics:
        bytes:
          description: Size (bytes)
          chart: bar
          average: true
